body{
font-family: verdana;
margin:0 auto;
font-weight:bold;
}

#logodiv{
width:100%;
height:150px;
background-color:#59a8ff
}

#navdiv{
width:100%;
height:50px;
background-color:#08b233
}

#titlediv{
width:100%;
height:50px;
background-color:#073763
}

#formdiv{
width:500px;
height:500px;
//background-color:yellow;
margin:0 auto;
}

input{
border-radius:7px;
height:30px;
width:300px;
box-shadow:-5px 0 20px -5px #333;
}


select{
border-radius:7px;
height:30px;
width:300px;
box-shadow:-5px 0 20px -5px #333;
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:10px;
}


.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
